#mainmenu{
	-fx-background-image: url("../backgrounds/MenuBackground.png");
	-fx-background-size: 100% 100%;
}

Button{
 	-fx-background-color: none;
	-fx-border-color: none;
}

Button:hover{
	-fx-background-color: white;
}